<IfModule mod_rewrite.c>
RewriteEngine On

#Options +FollowSymLinks -Indexes

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.*)/([^/]+)$ index.php/$1 [QSA,L]



#RewriteRule ^(.*)$ index.php [QSA,L]
#RewriteRule ^(.*)/([a-zA-Z0-9-_]+)/([^/]+)$ index.php/$1 [NC,L]
#RewriteRule ^(.*)([a-zA-Z0-9-_\p{Arabic}]+)$ index.php/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

ErrorDocument 404 http://mvc.com/not-found/404
</IfModule>
